@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
footer{
    background: #000;
    height: 5rem;
    color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
   margin: 0.5rem 2rem 0.5rem 0.5rem;
}
header{
    background: #000;    
    margin: 0;
    padding: 0;
    color: #bebebe;
    height: 50px;
    
}
.section-a{
    background: #E6E6E6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
    padding: 20px 40px;
}
.section-b{
    border: 25px solid darkgrey;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;  
}

header ul li{    
    padding: 0 1.2rem 0 0;
    margin: 1rem 0 0 1.2rem;
    display: inline-block; 
    font-weight: 600;
    cursor: pointer;
}

header ul li:hover{  
    color: lightsalmon;
}
h2{
    text-align: center;    
    background: #E6E6E6;
   padding-top: 3rem;
    margin: 0;
    color: #2E9AFE;
}

aside{
    background:#08088A;
    color: darkgray;
}
.navbar{
    background: #08088A;
    color: darkgrey;
    border: 4px solid darkgrey;
}
.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.navbar-nav{
    list-style: none;
    margin: 0;
    padding:0;
}
.navbar-nav li{
    display: inline-block;
    padding:  0.5rem;
    margin-left: 0;       
}
.navbar-nav li:hover{
  background: #819FF7;
  color: #000;        
}
.navbar-nav li a{
    text-decoration: none; 
    color: darkgrey;
    margin-right:0;
    padding:0;
    font-weight:600;
}
.navbar-nav li a:hover{
    color: #000;
}

@media(max-width:568px)
{
    .section-a{
        display: block;
    }
    .container{
        display: block;
    }
    main{
        margin: 0;
    }
  .navbar{
      border: none;      
  }
  .navbar ul li{
    padding: 1.2rem;
  }
  aside ul{
      margin:0 1.2rem;
      padding: 1.2rem;
  }
  aside ul li{
      padding: 0.5rem;
  }

}
